@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-primary-900 text-gray-100;
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-primary-800;
}

::-webkit-scrollbar-thumb {
  @apply bg-accent-cyan rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-accent-violet;
}


#root {
  width: 100%;
  margin: 0 auto;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

body {
  margin: 0;
}
